.body {
    width: 100%;
}

.app-body-editor {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.list-tasks {
    width: 100%;
}

.ct__list-item {
    border-bottom: .5px solid #ccc;
    padding: 7px 14px;
}

.task-section {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 60%;
    padding: 28px 14px;
}

.task-actions {
    column-gap: 14px;
}